* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 24px;
    font-family: 'Molot', sans-serif;
}

body {
    background-color: #FF6A00;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 36px;
    font-family: fantasy;
    margin: 0px 20px 0px 20px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: auto;
}

.list ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}